{% extends 'index.html' %}
{% load static %}

{% block title %} <title>Tailor Software</title> {% endblock title %}

{% block body %}


<div class="container mt-4 pt-3" style="background-color: #fff; border-radius: 10px;">

    <div class="d-flex gap-3" style="display: flex; align-items: center;">
        <img src="{{ company.logo }}" alt="Company Logo" class="rounded-profile">
        <div style="display: flex; flex-direction: column;">
            <h5 class="m-0 p-0" style="font-family: 'Lato', serif; text-transform: uppercase; font-weight: bold !important; color: #344CB7;">{{ company.company_name }}</h5>
            <p class="m-0 p-0" style="font-family: 'Lato', serif; font-size: 14px; font-style: italic; color: #b1b1b1;">{{ company.email }}</p>
        </div>
        {% if request.user.is_company_owner == True %}
        <a class="ms-auto" href="{% url 'update_company' %}"><button class="submit-button"><span>Edit</span></button></a>
        
        {% endif %}
    </div>

    <div class="row mt-5 pe-3 pb-3">
        <div class="col-4 mb-3">
            <!-- <div class="row">
                <div class="col-6">
                    <p class="company-label">Company Name</p>
                </div>
                <div class="col-6">
                    <p class="company-inps">{{ company_data.company_name }}</p>
                </div>
            </div> -->
            <div class="input-field">
                <input type="text" id="companyName" value="{{ company_data.company_name }}" readonly>
                <label for="companyName">Company Name</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <!-- <div class="row">
                <div class="col-6">
                    <p class="company-label">Owner Name</p>
                </div>
                <div class="col-6">
                    <p class="company-inps">{{ company_data.name }}</p>
                </div>
            </div> -->
            <div class="input-field">
                <input type="text" id="ownerName" value="{{ company_data.name }}" readonly>
                <label for="ownerName">Owner Name</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <!-- <div class="row">
                <div class="col-6">
                    <p class="company-label">Company Email</p>
                </div>
                <div class="col-6">
                    <p class="company-inps">{{ company_data.email }}</p>
                </div>
            </div> -->
            <div class="input-field">
                <input type="text" id="companyEmail" value="{{ company_data.email }}" readonly>
                <label for="companyEmail">Company Email</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <!-- <div class="row">
                <div class="col-6">
                    <p class="company-label">Company Number</p>
                </div>
                <div class="col-6">
                    <p class="company-inps">{{ company_data.phone }}</p>
                </div>
            </div> -->
            <div class="input-field">
                <input type="text" id="companyPhone" value="{{ company_data.phone }}" readonly>
                <label for="companyPhone">Company Number</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <!-- <div class="row">
                <div class="col-6">
                    <p class="company-label">Company Created At</p>
                </div>
                <div class="col-6">
                    <p class="company-inps">{{ company_data.created_at }}</p>
                </div>
            </div> -->
            <div class="input-field">
                <input type="text" id="companyCreated" value="{{ company_data.prefix }}" readonly>
                <label for="companyCreated">Company Prefix</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <!-- <div class="row">
                <div class="col-6">
                    <p class="company-label">Company Updated At</p>
                </div>
                <div class="col-6">
                    <p class="company-inps">{{ company_data.updated_at }}</p>
                </div>
            </div> -->
            <div class="input-field">
                <input type="text" id="companyUpdated" value="{{ company_data.upi_id }}" readonly>
                <label for="companyUpdated">Company UPI ID</label>
            </div>
        </div>

        <div class="col-6 mb-3">
            <div class="input-field">
                <textarea class="textareaa" id="companyaddress" rows="6">{{ company_data.address }}</textarea>
                <label for="companyaddress">Company Address</label>
            </div>
        </div>

        <div class="col-6 mb-3">
            <!-- <div class="row">
                <div class="col-6">
                    <p class="company-label">Company Prefix</p>
                </div>
                <div class="col-6">
                    <p class="company-inps">{{ company_data.prefix }}</p>
                </div>
            </div> -->
            <div class="input-field">
                <!-- <input type="text" id="companyPrefix" value="{{ company_data.note }}" readonly> -->
                 <textarea id="companyNotes" rows="6">{{ company_data.note }}</textarea>
                <label for="companyNotes">Company Note</label>
            </div>
        </div>
    </div>
</div>


{% endblock body %}

